* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

body {
  margin: 2em;
  background-color:#830F12; 

}

#content {
  margin: 1em;
  background: #fff;
  padding: 1em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
}

#header {
  width:80%;
  margin: 1em;
  background: #fff;
  padding: 1em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
}



#content2 {
 width:35%;
 margin: 1em;
 background: #a29396;
 padding: 1em;
 -moz-border-radius: 3em;
 -webkit-border-radius: 3em;
 border-radius: 3em;
}

#content3{	
 width:50%;
 margin: 1em;
 background: #a29396;
 padding: 1em;
 -moz-border-radius: 3em;
 -webkit-border-radius: 3em;
 border-radius: 3em;
}



p {
  margin: 1em;
}

ul, ol {
  margin-left: 3em;
}